            <br/>

            <!-- footer -->
            <footer>
            <div class="container">
            <div class="row">
                    <p>&copy; Conor O&apos;Reilly 2013</p>
            </div><!-- .row -->
            </div><!-- .container -->
            </footer>

            <!-- have at the bottom of the page to speed up loading -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
            <!-- the link below to the CDN links to the latest version of jquery each time BUT
            this is a bad idea 
                1) the caching only works if you specify a version number
                2) deploy with only what you have tested with
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
            -->
            <script src="lib/bootstrap_v230/js/bootstrap.min.js"></script>

            <!-- for twitter and other social API's-->
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        </body>
    </html>